In [4]:
import kagglehub as kg
path = kg.dataset_download("khsamaha/aviation-accident-database-synopses")

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.6)
Downloading from https://www.kaggle.com/api/v1/datasets/download/khsamaha/aviation-accident-database-synopses?dataset_version_number=15...

100%|██████████| 4.99M/4.99M [00:01<00:00, 2.79MB/s]

Extracting model files...

In [17]:
encoding = 'Windows-1252'  # Replace with detected encoding
with open(path + '/AviationData.csv', 'r', encoding=encoding) as f:
    data = f.read()

with open('AviationData_utf8.csv', 'w', encoding='utf-8') as f:
    f.write(data)

In [20]:
import pandas as pd
df = pd.read_csv('AviationData_utf8.csv', low_memory=False)

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [24]:
df.keys()

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [25]:
df[df['Investigation.Type'] == 'Accident'].value_counts('Make')

Make
Cessna                      21973
Piper                       11885
CESSNA                       4820
Beech                        4170
PIPER                        2799
                            ...
Milner, Dick G                  1
Miltenberger                    1
Mince                           1
Miner                           1
107.5 Flying Corporation        1
Length: 8170, dtype: int64

In [93]:
#Exploring which columns are missing data (and how much)
nans = df.isna().sum()
nans_df = pd.DataFrame(nans).rename_axis('df Column')
nans_df.columns = ['Count of NaNs']
nans_df['%NaN'] = [(int(nans_df.loc[x].values) / len(df[x]))*100 for x in nans_df.index]
nans_df

                        Count of NaNs       %NaN
df Column
Event.Id                            0   0.000000
Investigation.Type                  0   0.000000
Accident.Number                     0   0.000000
Event.Date                          0   0.000000
Location                           52   0.058500
Country                           226   0.254250
Latitude                        54507  61.320298
Longitude                       54516  61.330423
Airport.Code                    38640  43.469946
Airport.Name                    36099  40.611324
Injury.Severity                  1000   1.124999
Aircraft.damage                  3194   3.593246
Aircraft.Category               56602  63.677170
Registration.Number              1317   1.481623
Make                               63   0.070875
Model                              92   0.103500
Amateur.Built                     102   0.114750
Number.of.Engines                6084   6.844491
Engine.Type                      7077   7.961615
FAR.Description                 56866  63.974170
Schedule                        76307  85.845268
Purpose.of.flight                6192   6.965991
Air.carrier                     72241  81.271023
Total.Fatal.Injuries            11401  12.826109
Total.Serious.Injuries          12510  14.073732
Total.Minor.Injuries            11933  13.424608
Total.Uninjured                  5912   6.650992
Weather.Condition                4492   5.053494
Broad.phase.of.flight           27165  30.560587
Report.Status                    6381   7.178616
Publication.Date                13771  15.492356